:root {
    --Primary-color: hsl(0, 0%, 94%);
    --Secondary-color: hsl(0, 0%, 100%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);
    }

    .dark-theme{
        --Primary-color: hsl(228, 100%, 1%);
        --Secondary-color: hsl(165, 9%, 17%);
    }
    
    @font-face {
        font-family: Pop;
        src: url(./assets/fonts/Poppins-Regular.ttf);
    }
    
    *{
        margin: 0;
        padding: 0;
        font-family: Pop !important;
    }

    body{
        background-color: var(--Primary-color);
    }

    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    #icon{
        width: 30px;
        cursor: pointer;
    }
    
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    
    .container{
        background-color: var(--Secondary-color);
        width: 420px;
        max-width: 80%;
        padding: 30px;
        position: relative;
        border-bottom-right-radius: 150px;
    }
    
    input{
        background-color: var(--Secondary-color);
        width: 70px;
        padding: 10px;
        border-radius: 5px;
        border: 2px solid var(--Primary-color);
        outline: none;
    }
    
    input:focus{
        border: 2px solid var(--Purple);
    }
    
    small{
        color: var(--Light-red);
        font-size: 0.6rem;
        font-weight: bold;
    }
    
    .submit-btn{
        width: 70px;
        height: 70px;
        padding: 20px;
        display: flex;
        background-color: var(--Purple);
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 50px;
        position: absolute;
        right: 30px;
        left: 390px;
        top: 90px;
        cursor: pointer;
    }
    
    .submit-btn:hover{
        background-color: var(--Off-black);
    }
    
    .output span{
        font-size: 2.75rem;
        color: var(--Purple);
        font-style: italic;
    }
    
    .input-container{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    
    .input-flex{
        display: flex;
        border-bottom: 2px solid var(--Primary-color);
        margin-bottom: 20px;
    }

    footer{
        text-align: center;
        text-decoration-color: var(--Secondary-color);
        background-color: var(--Purple);
    }
    
    /* app responsiveness */
    
    @media(max-width: 768px) {
        input span{
            font-size: 1.75rem;
        }
    
        .submit-btn{
            width: 40px;
            height: 40px;
            right: 40%;
            top: 90px;
        }
    
        .submit-btn img{
            transform: scale(0.5);
        }
    }